.flower-source-container {
    width: 1900px;
    height: 900px;
    background-image: url('./flowerback.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.service-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 150px 80px 50px 250px;
    padding: 0px 0px 200px 0px;
}

.services {
    height: 280px;
    width: 300px;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    border: none;
    box-shadow: 4px 4px 10px #2e2e2e;
    background-color: rgba(240, 255, 255, 0.911);
}

.Service-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.description-title {
    margin-right: 150px;
    padding-top: 50px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.description-para {
    color: rgba(39, 39, 39, 0.808);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
}

.description-heading {
    color: rgba(39, 39, 39, 0.808);
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

.service-description {
    color: rgba(39, 39, 39, 0.808);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}